.sectionHeaderRoot {
    display: grid;
    place-items: left;
    background-color: lightblue;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
}

.sectionStandfirst {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: left;
    margin: 1rem 0;
    color: #666;
}

.sectionHeaderTitleWrapper{
    display: grid;
    place-items: left;
    width: 100%;
    background-color: lightgreen;
}

.sectionHeaderTitle {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    color: #333;
    background-color: lightblue;
}


/* Tablet - styles for screens between 481px and 768px */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Small Desktop / Laptop - styles for screens between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Large Desktop - styles for screens larger than 1025px */
@media (min-width: 1025px) {
}
