/* Base (Mobile First Approach) */
.navRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width:var(--size-mw-desktop)
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--bg-inverse);
  border-radius: 0.75rem;
  padding: 0.25rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}

.navButtonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.25rem;
}

/* Tablet - styles for screens between 481px and 768px */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Small Desktop / Laptop - styles for screens between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Large Desktop - styles for screens larger than 1025px */
@media (min-width: 1025px) {
}
