.footerRoot{
display: flex;
flex-flow: row;
align-items: center;
justify-content: space-between;
width:100%;
max-width: var(--size-mw-desktop);
padding-top: var(--gap-inset-md);
padding-bottom: var(--gap-inset-md);
}

.footerContentWrapper{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-inset-xs)
}

.footerText{
    color: var(--fg-secondary);
    font-weight: var(--fw-default)
}   

.footerLink{
    font-weight: var(--fw-strong);
    text-decoration: none;
    color: var(--fg-primary);
}


/* Tablet - styles for screens between 481px and 768px */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Small Desktop / Laptop - styles for screens between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Large Desktop - styles for screens larger than 1025px */
@media (min-width: 1025px) {
}