/* components/HeroText/HeroText.module.css */

.heroTextIntro {
    cursor: none; /* Hide the default cursor when over hero text */
    text-align: left;
    user-select: none; /* Prevent text selection during interaction */
    font-weight: var(--font-weight-regular);
    font-size: var(--fs-body-sm);
  }
  
  .heroText {
    margin-bottom: 1rem;
    color: #333;
    font-weight: var(--font-weight-regular);
    font-size: var(--fs-header-lg);
    line-height: var(--lh-default);
  }
  
  .heroTextParagraph {
    color: #666;
    font-weight: var(--font-weight-regular);
    font-size: var(--fs-body-md);
  }
  