/* components/HeroText/HeroText.module.css */

.heroTextRoot{
  display: grid;
  place-items: center;
  width: 100%;
  gap:var(--gap-inset-md);
  padding:1rem;
}

.heroTextIntro {
    text-align: center;
    user-select: none; /* Prevent text selection during interaction */
    font-weight: var(--fw-regular);
    font-size: var(--fs-body-sm);
  }
  
  .heroText {
    text-align: center;
    font-weight: var(--fw-regular);
    font-size: var(--fs-header-xs);
    line-height: var(--lh-default);
  }
  
  .heroTextParagraph {
    font-family: var(--font-secondary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body-md);
    text-decoration: line-through;
  }
  
