/* components/HeroText/HeroText.module.css */

.heroTextRoot{
  display: grid;
  place-items: left;
  width: 100%;
  gap:var(--gap-inset-md);
}

.heroTextIntro {
    cursor: none; /* Hide the default cursor when over hero text */
    text-align: left;
    user-select: none; /* Prevent text selection during interaction */
    font-weight: var(--fw-regular);
    font-size: var(--fs-body-sm);
  }
  
  .heroText {
    font-weight: var(--fw-regular);
    font-size: var(--fs-header-lg);
    line-height: var(--lh-default);
  }
  
  .heroTextParagraph {
    font-family: var(--font-secondary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body-md);
    text-decoration: line-through;
  }
  


  /* Tablet - styles for screens between 481px and 768px */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Small Desktop / Laptop - styles for screens between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Large Desktop - styles for screens larger than 1025px */
@media (min-width: 1025px) {
}